@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');


*{
   font-family:  'Montserrat', sans-serif;
}

ul a:active{
    color: purple !important;
}

.circle{
    width: 800px;
    height: 400px;
   
    z-index: 1000;
    border-radius: 50%;
    filter: blur(90px);
    right: 0px;
    background-color: #9024e34f;
    /* background-color: #c292dea9;  */
}
.circle1{
    position: absolute;
    top: 100px;
    left: 200px;
    /* top: 50px;
    left: 50px; */
}
.circle2{
    top: 50px;
    right: 50px;
    background-color: #e2295d;
}
.circle3{
    position: fixed;
    bottom: -330px;
    /* bottom: 50px; */
    /* right: 30%; */
    /* background-color: #67B3E4; */
    background-image: linear-gradient(to left top, #c29d2e, #90ae49, #5bb877, #14bca7, #00bbcd, #2db8da, #52b4e2, #72afe5, #7bace5, #84a9e4, #8ca6e2, #95a3e0);    /* background-color: #c292dea9;  */

}

@keyframes morph {
    0%, 100%{
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33%{
        border-radius: 72% 28% 48% 48%/ 28% 28% 72% 72%
    }
    66%{
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}

.blob{
    overflow: hidden;
    width: 450px;
    height: 450px;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    animation: morph 3.75s linear infinite;
}

.bg-img{
    background: #8f44fd url("./pf.jpg");
    background-size: cover;
    background-position: center;
}